.explore-main{
    display: flex;
    justify-content: space-between;
}
.button-prev{
    padding:3px;
    border-radius:50%;
    background-color: rgba(230, 232, 236, 1);
    cursor: pointer;
}
.button-next{
    padding:3px;
    border-radius:50%;
    background-color: rgba(230, 232, 236, 1);
    margin-left:10px;
    cursor: pointer;
}


