.modal-content{
    left:579px;
    top:34px;
    width: 50% !important;
  }
  .btn {
    margin-right:17px;
    
  }
  .btn-primary{
    background-color: transparent !important;
    border:none !important;
    color:#ccc !important;
  }
  .modal-body{
    border:none !important;
  }
  .profile-img{
    margin-right:10px;
  }

  .btn-secondary{
     width: 40px;
    color:rgba(132, 135, 139, 1);
    background-color: #fff;
    border:none;
  

  }

