.feature-box{
    display: flex;

}
.featuredbigbox{
    display: flex;
   
}

.featured-span1{
 height: 28px;
width: 66px;
border-radius: 20px;
background: #FFFFFF;
box-shadow: 0px 4px 10px rgba(40, 40, 40, 0.12);
display: block;
text-align: center;
font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 24px;
color: #FF543D;
position: absolute;
top:19px;
left:28px;
z-index:99;

}
.featured-title1{

font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 24px;
color:#fff;
}
.featured-active{
position: absolute;
left: 4.56%;
top: 22.08%;

}
.featured-activitie{
font-family: DM Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
color:#fff;
padding-left:5px;
}
.featured-title2{
font-family: DM Sans;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color:#fff;

}
.featured-active2{
    position: absolute;
    left: 9.42%;
    top: 73.48%; 
}
.featured-active3{
    position: absolute;
    left: 11.42%;
    top: 73.48%; 
}
.featured-title3{
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color:#fff;
    
}
.featured-active4{
    position: absolute;
    left: 12.63%;
    top: 63.08%;
    z-index:99;

}
.featured-title4{
   
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
}
.featured-active5{
    left: 12.63%;
    top: 64.73%;
    position: absolute;
    z-index:99;

}
.featured-active6{
    position: absolute;
    left: 12.63%;
    top: 63.08%;
    z-index:99;

}
.featured-activitie1{ 
font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
color:#fff;
margin-left:8px;

}
.featured-activitie2{
font-family: DM Sans;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 15px;
letter-spacing: 0em;
text-align: left;
color:#fff;
margin-left:8px;

}


